@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

$body-font: "Open Sans", sans-serif;
$headings-font: "Poppins", sans-serif;
$Pink: rgb(255, 82, 191);
$Light-Pink: rgb(255, 143, 216);
$Light-Red: rgb(255, 66, 66);
$Very-Dark-Cyan: rgb(0, 37, 46);
$Very-Pale-Blue: rgb(245, 250, 255);
$White: rgb(255, 255, 255);
$hover-icons-social-network: rgb(0, 204, 255);
$aside: hsl(228, 45%, 44%);
